body{
    background: #F7F9FF;
}
header{
    width: 100%;
    height: 1.67rem;
    background: #fff;
    position: relative;
}
.list{
    width: 100%;
    height: 0.47rem;
    padding-top: 0.83rem;
}
.fox{
    float: left;
    margin-left:0.4rem;
}
.list_fox{
    width: 9.3rem;
    text-align: center;
    color: #232222;
    font-size:0.43rem ;
    font-weight: bold;
}
.app{
    width:9.47rem ;
    height: 2.83rem;
    background:#fff ;
    border-radius:0.07rem ; 
    margin: 0.27rem auto;
    position: relative;
      
}
.high{
    float: left;
    width: 2.4rem;
    height: 2.16rem;
    background: red;
    margin-top: 0.32rem;
    margin-left: 0.33rem;
}
.box{
  font-size: 0.43rem;
  color: #262626;
  font-weight: bold;
  float: right;
  margin-top: 0.25rem;
  margin-right:4.61rem ;
}
.star{
   position: absolute;
   top:0.36rem;
   right: 3.61rem;
    
    
}
.old{
   float: left;
   font-size: 0.4rem;
   font-weight:normal ;
   color: #262626;
   margin-left: 0.4rem;
   margin-top: 0.19rem
}
.young{
    font-size: 0.35rem;
    color: #262626;
    right: 0.37rem;
    bottom: 0.15rem;
    position: absolute;

}
.art{
    color: #407FFF;
}
footer{
    width: 100%;
    height: 0.56rem;
    background: #fff;  
}
.hake{
    color: #407FFF;
}
.footer_text{
    line-height: 0.56rem;
    text-align: center;
    font-size: 0.32rem;
    color:#33384C;
}